@charset "UTF-8";
:root {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-overflow-scrolling: auto;
  -webkit-touch-callout: none;
  overflow-y: auto;
}

body {
  margin: 0;
  font-smooth: antialiased;
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
}

body * {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
  outline: none;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img, a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img, picture {
  max-width: 100%;
  height: auto;
  border: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

svg:not(:root) {
  overflow: hidden;
}

[hidden] {
  display: none;
}

@media print {
  /**
   * 1. Black prints faster: http://www.sanbeiji.com/archives/953
   */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* [1] */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
   * Don’t show links that are fragment identifiers, or use the `javascript:`
   * pseudo protocol.
  */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /**
   * Printing Tables: http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
:root {
  --baseline: 1.25;
  --base-font-size: 16px;
  --font-family: "Inter", sans-serif;
  --font-weight: 400;
}

html.noscroll {
  overflow: hidden;
}

html, body {
  font-size: var(--base-font-size);
  line-height: var(--baseline);
  height: 100%;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  background-color: var(--color-bg-white);
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 100px;
}

.is-fixed {
  position: fixed;
  left: 0;
  width: 100%;
}

.is-block {
  display: block;
}

.is-relative {
  position: relative;
}

.is-uppercase {
  text-transform: uppercase;
}

.is-justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.is-text-center {
  text-align: center;
}

.is-text-orange {
  color: var(--orange);
}

.is-text-green {
  color: var(--green);
}

.is-text-grey {
  color: var(--grey);
}

.is-text-dark-grey {
  color: var(--dark-grey);
}

.wrapper-img {
  position: relative;
  overflow: hidden;
}
.wrapper-img img {
  width: 100%;
  height: 100%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

:root {
  --black: #010201;
  --green: #499A18;
  --orange: #E06733;
  --grey: #717171;
  --dark-grey: #636060;
  --section-bg: #EDF2EC;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1260px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.row > .col, .row > [class*=col-] {
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.row-flush {
  margin-left: 0;
  margin-right: 0;
}
.row-flush > .col,
.row-flush > [class*=col-] {
  padding-left: 0;
  padding-right: 0;
}

.row-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.row-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.row-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.row-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 428px) {
  .row-xs-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row-xs-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row-xs-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row-xs-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .row-xs-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row-xs-align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 576px) {
  .row-sm-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row-sm-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row-sm-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row-sm-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .row-sm-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row-sm-align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .row-md-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row-md-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row-md-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row-md-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .row-md-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row-md-align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .row-lg-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row-lg-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row-lg-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row-lg-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .row-lg-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row-lg-align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .row-xl-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row-xl-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row-xl-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row-xl-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .row-xl-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row-xl-align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1440px) {
  .row-xxl-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row-xxl-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row-xxl-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row-xxl-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .row-xxl-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row-xxl-align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1440px) {
  .row-3xl-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row-3xl-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row-3xl-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row-3xl-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .row-3xl-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row-3xl-align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.offset-0 {
  margin-left: 0;
}

.order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.order-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.offset-3 {
  margin-left: 25%;
}

.order-4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.order-5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.order-6 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.offset-6 {
  margin-left: 50%;
}

.order-7 {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.order-8 {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.order-9 {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

.offset-9 {
  margin-left: 75%;
}

.order-10 {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.order-11 {
  -webkit-box-ordinal-group: 12;
      -ms-flex-order: 11;
          order: 11;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.order-12 {
  -webkit-box-ordinal-group: 13;
      -ms-flex-order: 12;
          order: 12;
}

.offset-12 {
  margin-left: 100%;
}

@media screen and (min-width: 428px) {
  .offset-xs-0 {
    margin-left: 0;
  }
  .order-xs-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .offset-xs-1 {
    margin-left: 8.3333333333%;
  }
  .order-xs-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .offset-xs-2 {
    margin-left: 16.6666666667%;
  }
  .order-xs-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .offset-xs-3 {
    margin-left: 25%;
  }
  .order-xs-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .offset-xs-4 {
    margin-left: 33.3333333333%;
  }
  .order-xs-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .offset-xs-5 {
    margin-left: 41.6666666667%;
  }
  .order-xs-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .offset-xs-6 {
    margin-left: 50%;
  }
  .order-xs-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .offset-xs-7 {
    margin-left: 58.3333333333%;
  }
  .order-xs-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .offset-xs-8 {
    margin-left: 66.6666666667%;
  }
  .order-xs-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .offset-xs-9 {
    margin-left: 75%;
  }
  .order-xs-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .offset-xs-10 {
    margin-left: 83.3333333333%;
  }
  .order-xs-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .offset-xs-11 {
    margin-left: 91.6666666667%;
  }
  .order-xs-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .offset-xs-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 576px) {
  .offset-sm-0 {
    margin-left: 0;
  }
  .order-sm-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .order-sm-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .order-sm-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .order-sm-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .order-sm-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .order-sm-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .order-sm-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .order-sm-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .order-sm-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .order-sm-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .order-sm-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .order-sm-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .offset-sm-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 768px) {
  .offset-md-0 {
    margin-left: 0;
  }
  .order-md-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .order-md-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .order-md-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .order-md-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .order-md-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .order-md-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .order-md-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .order-md-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .order-md-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .order-md-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .order-md-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .order-md-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .offset-md-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 992px) {
  .offset-lg-0 {
    margin-left: 0;
  }
  .order-lg-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .order-lg-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .order-lg-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .order-lg-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .order-lg-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .order-lg-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .order-lg-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .order-lg-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .order-lg-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .order-lg-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .order-lg-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .order-lg-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .offset-lg-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .offset-xl-0 {
    margin-left: 0;
  }
  .order-xl-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .order-xl-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .order-xl-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .order-xl-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .order-xl-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .order-xl-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .order-xl-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .order-xl-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .order-xl-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .order-xl-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .order-xl-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .order-xl-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .offset-xl-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .offset-xxl-0 {
    margin-left: 0;
  }
  .order-xxl-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .order-xxl-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .order-xxl-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .order-xxl-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .order-xxl-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .order-xxl-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .order-xxl-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .order-xxl-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .order-xxl-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .order-xxl-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .order-xxl-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .order-xxl-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .offset-xxl-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .offset-3xl-0 {
    margin-left: 0;
  }
  .order-3xl-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .offset-3xl-1 {
    margin-left: 8.3333333333%;
  }
  .order-3xl-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .offset-3xl-2 {
    margin-left: 16.6666666667%;
  }
  .order-3xl-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .offset-3xl-3 {
    margin-left: 25%;
  }
  .order-3xl-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .offset-3xl-4 {
    margin-left: 33.3333333333%;
  }
  .order-3xl-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .offset-3xl-5 {
    margin-left: 41.6666666667%;
  }
  .order-3xl-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .offset-3xl-6 {
    margin-left: 50%;
  }
  .order-3xl-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .offset-3xl-7 {
    margin-left: 58.3333333333%;
  }
  .order-3xl-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .offset-3xl-8 {
    margin-left: 66.6666666667%;
  }
  .order-3xl-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .offset-3xl-9 {
    margin-left: 75%;
  }
  .order-3xl-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .offset-3xl-10 {
    margin-left: 83.3333333333%;
  }
  .order-3xl-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .offset-3xl-11 {
    margin-left: 91.6666666667%;
  }
  .order-3xl-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .offset-3xl-12 {
    margin-left: 100%;
  }
}
.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.3333333333%;
          flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6666666667%;
          flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333333333%;
          flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.6666666667%;
          flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.3333333333%;
          flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6666666667%;
          flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.3333333333%;
          flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.6666666667%;
          flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media screen and (min-width: 428px) {
  .col-xs-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xs-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xs-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xs-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xs-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xs-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xs-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xs-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xs-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xs-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .col-xxl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xxl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xxl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xxl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xxl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xxl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xxl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xxl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xxl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xxl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xxl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xxl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .col-3xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-3xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-3xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-3xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-3xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-3xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-3xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-3xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-3xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-3xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-3xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-3xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
.hidden {
  display: none !important;
}

@media screen and (max-width: 427px) {
  .hidden-xs-down {
    display: none !important;
  }
}
@media screen and (min-width: 428px) {
  .hidden-xs-up {
    display: none !important;
  }
}
@media screen and (max-width: 575px) {
  .hidden-sm-down {
    display: none !important;
  }
}
@media screen and (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .hidden-md-down {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}
@media screen and (max-width: 991px) {
  .hidden-lg-down {
    display: none !important;
  }
}
@media screen and (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}
@media screen and (max-width: 1199px) {
  .hidden-xl-down {
    display: none !important;
  }
}
@media screen and (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}
@media screen and (max-width: 1439px) {
  .hidden-xxl-down {
    display: none !important;
  }
}
@media screen and (min-width: 1440px) {
  .hidden-xxl-up {
    display: none !important;
  }
}
@media screen and (max-width: 1439px) {
  .hidden-3xl-down {
    display: none !important;
  }
}
@media screen and (min-width: 1440px) {
  .hidden-3xl-up {
    display: none !important;
  }
}
.header {
  background-color: var(--section-bg);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
}
.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@media screen and (min-width: 768px) {
  .header__conationer {
    height: 7.3125rem;
  }
}
@media screen and (min-width: 992px) {
  .header__conationer {
    height: 8.375rem;
  }
}
.menu {
  display: none;
}
.menu__item {
  margin-left: 2.875rem;
}
.menu__link {
  color: var(--black);
  text-decoration: none;
}
.menu__link:hover {
  color: var(--orange);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.logo {
  cursor: default;
}

.burger {
  display: block;
  width: 4.375rem;
  padding: 0.9375rem;
}
.burger__line {
  display: block;
  background-color: var(--grey);
  width: 2.5rem;
  height: 2px;
}
.burger__line:not(:first-child) {
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}
.section_welcome, .section_service, .section_contacts {
  background-color: var(--section-bg);
}
.section_welcome {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.section_about {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}
.section_service {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}
.section_prices {
  padding-top: 1.5625rem;
  padding-bottom: 2.5rem;
}
.section_contacts {
  padding-top: 1.5625rem;
  padding-bottom: 0rem;
}
.section_footer {
  padding-top: 1.375rem;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  .section_welcome {
    padding-top: 2.5rem;
    padding-bottom: 4.375rem;
  }
  .section_about {
    padding-top: 2.5rem;
    padding-bottom: 5.9375rem;
  }
  .section_service {
    padding-top: 3.75rem;
    padding-bottom: 4.375rem;
  }
  .section_prices {
    padding-top: 2.5rem;
    padding-bottom: 5.625rem;
  }
  .section_contacts {
    padding-top: 2.5rem;
    padding-bottom: 0rem;
  }
  .section_footer {
    padding-top: 1.875rem;
    padding-bottom: 1.25rem;
  }
}
@media screen and (min-width: 992px) {
  .section_welcome {
    padding-top: 3.875rem;
  }
  .section_about {
    padding-top: 5.9375rem;
  }
  .section_service {
    padding-top: 2.5rem;
    padding-bottom: 7.5rem;
  }
  .section_prices {
    padding-bottom: 7.1875rem;
  }
  .section_contacts {
    padding-top: 3.75rem;
    padding-bottom: 0rem;
  }
  .section_footer {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
.title {
  font-size: 1.5625rem;
  font-weight: 700;
}
.title_regular {
  font-weight: 400;
  font-family: "Inika", sans-serif;
}
.title__smaill {
  font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 2.1875rem;
  }
  .title_medium {
    font-size: 2.5rem;
  }
  .title__smaill {
    font-size: 1.5625rem;
  }
}
@media screen and (min-width: 992px) {
  .title {
    font-size: 2.5rem;
  }
  .title_big {
    font-size: 2.8125rem;
  }
}
.text_medium-xs {
  font-size: 20px;
}
.text_bold {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .text_medium-md {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .text {
    font-size: 1.25rem;
  }
  .text_smaill {
    font-size: 16px;
  }
}
.button {
  background: transparent;
  border: 1px solid var(--orange);
  border-radius: 5px;
  color: var(--yellow);
  font-size: 0.9375rem;
}
.button_primary {
  border: 2px solid var(--orange);
  border-radius: 10px;
  color: var(--black);
  font-size: 10px;
}
.button_bold {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 1.25rem;
  }
  .button_primary {
    font-size: 1rem;
  }
}
.welcome__images {
  display: none;
  width: 280px;
  height: 254px;
}
.welcome .text {
  padding-top: 1.25rem;
  line-height: 1.56;
}
.welcome .button {
  margin-top: 1.25rem;
  padding: 0.5rem 1.125rem;
}

@media screen and (min-width: 768px) {
  .welcome__images {
    display: block;
  }
  .welcome .text {
    padding-top: 1.875rem;
    line-height: 1.75;
  }
  .welcome .button {
    margin-top: 1.875rem;
    padding: 0.875rem 1.6875rem;
  }
}
@media screen and (min-width: 992px) {
  .welcome__images {
    width: 448px;
    height: 407px;
  }
  .welcome__content {
    padding-top: 2.375rem;
  }
  .welcome .text {
    padding-top: 2.625rem;
  }
  .welcome .button {
    margin-top: 3rem;
  }
}
.leaf {
  position: absolute;
}
.leaf_lg {
  top: 0;
  left: 0;
  width: 190px;
  height: 140px;
}
.leaf_md {
  top: 135px;
  left: 65px;
  width: 130px;
  height: 130px;
}
.leaf_sm {
  top: 165px;
  left: 195px;
  width: 95px;
  height: 68px;
}
.leaf_xs {
  width: 70px;
  height: 68px;
}
.leaf_xs-l {
  top: 130px;
  left: 0;
}
.leaf_xs-r {
  top: 70px;
  left: 165px;
}
.leaf_prices-lg {
  top: 0;
  left: 0;
}
.leaf_prices-md {
  top: 85px;
  left: 50px;
}
.leaf_prices-xs-r {
  top: 86px;
  left: 5px;
}
.leaf_prices-xs-l {
  top: 45px;
  left: 100px;
}

@media screen and (min-width: 992px) {
  .leaf_lg {
    width: 305px;
    height: 207px;
  }
  .leaf_md {
    top: 190px;
    left: 110px;
    width: 200px;
    height: 210px;
  }
  .leaf_sm {
    top: 265px;
    left: 300px;
    width: 180px;
    height: 100px;
  }
  .leaf_xs {
    width: 120px;
    height: 120px;
  }
  .leaf_xs-l {
    top: 200px;
    left: 0px;
  }
  .leaf_xs-r {
    top: 110px;
    left: 260px;
  }
}
.about .title {
  text-align: center;
}
.about .text {
  padding-top: 1.25rem;
  line-height: 1.666;
}
.about__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.3125rem;
}
.about__images img {
  width: 150px;
  height: 147px;
}

@media screen and (min-width: 380px) {
  .about .text {
    line-height: 1.5;
  }
  .about__images {
    padding-top: 2.5rem;
  }
  .about__images img {
    width: 250px;
    height: 258px;
  }
}
@media screen and (min-width: 768px) {
  .about .title {
    text-align: left;
  }
  .about .text {
    padding-top: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .about .title {
    padding-top: 4.125rem;
  }
  .about__images {
    padding-top: 0px;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .about__images img {
    width: 464px;
    height: 479px;
  }
}
.service_box {
  padding-top: 2.1875rem;
}
.service .button {
  color: var(--orange);
  margin-right: 0.625rem;
  margin-top: 0.625rem;
  padding: 0.5rem 1.75rem;
}
.service__gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-auto-rows: auto;
  grid-row-gap: 34px;
  grid-column-gap: 100px;
  justify-items: center;
  padding-top: 2.1875rem;
}
.service__gallery .wrapper-img {
  aspect-ratio: 5/5;
}
.service__gallery .wrapper-img img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .service_box {
    padding-top: 1.875rem;
  }
  .service .button {
    margin-right: 2.375rem;
    padding: 0.75rem 2.5rem;
  }
  .service__gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 38px;
    padding-top: 2.1875rem;
    padding-top: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .service_box {
    padding-top: 0px;
  }
  .service .button {
    margin-top: 0px;
  }
  .service__gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 55px;
    padding-top: 5.625rem;
  }
  .service__gallery .wrapper-img {
    aspect-ratio: 16/17;
  }
}
.gallery {
  overflow: hidden;
  border: 1px solid #d3d2cc;
  border-radius: 25px 25px 20px 20px;
  text-align: center;
}
.gallery__content {
  padding: 0px 2.5rem 1.125rem 2.5rem;
}
.gallery .text {
  width: 100%;
  padding-top: 0.625rem;
}

@media screen and (min-width: 992px) {
  .gallery__content {
    padding: 0px 1.875rem 1.875rem 1.875rem;
  }
}
.prices__selectores, .prices__content {
  text-align: center;
}
.prices__heading {
  padding-bottom: 2.5rem;
  font-weight: 700;
  font-size: 1.5625rem;
}
.prices__selectores__wrapper {
  display: inline-block;
  padding: 1.875rem 1.375rem;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}
.prices .title {
  padding-top: 1.25rem;
  line-height: 1.75;
}
.prices .button {
  padding: 0.75rem 1.875rem;
  margin-top: 0.9375rem;
  color: var(--orange);
}
.prices__images {
  display: none;
}

@media screen and (min-width: 768px) {
  .prices__selectores {
    text-align: start;
  }
  .prices__heading {
    padding-bottom: 3.125rem;
    font-size: 2.1875rem;
  }
  .prices__selectores__wrapper {
    padding: 2.125rem 2.5625rem;
  }
  .prices__content {
    text-align: right;
  }
  .prices .title {
    padding-top: 0px;
  }
  .prices .button {
    margin-top: 1.25rem;
  }
  .prices__images {
    display: block;
    position: relative;
    margin-top: 2.125rem;
    width: 155px;
    height: 175px;
    margin-left: auto;
  }
}
@media screen and (min-width: 992px) {
  .prices__heading {
    padding-bottom: 3.75rem;
    font-size: 2.5rem;
  }
}
.selectores {
  position: relative;
  max-width: 15.625rem;
  max-height: 3.4375rem;
  background-color: var(--section-bg);
  padding: 1rem 6.875rem 1rem 2.5rem;
  border-radius: 20px;
  font-weight: 700;
}
.selectores:nth-of-type(2), .selectores:nth-of-type(1) {
  margin-bottom: 2rem;
}
.selectores .arrow {
  background-color: #D9D9D9;
}
.selectores .arrow::before, .selectores .arrow::after {
  background-color: var(--black);
}

@media screen and (min-width: 768px) {
  .selectores {
    font-size: 1.25rem;
  }
}
.contacts__dropdown {
  padding-top: 5rem;
}
.contacts .text {
  line-height: 2;
}
.contacts__images {
  padding-top: 8.25rem;
}
.contacts__images img {
  margin: -4px;
  width: 100px;
  height: 124px;
}

@media screen and (max-width: 991px) {
  .contacts__images {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .contacts__title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contacts__dropdown {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .contacts__images, .contacts__dropdown, .contacts__title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .contacts__dropdown {
    padding-top: 6.25rem;
  }
  .contacts__images {
    padding-top: 15.625rem;
  }
  .contacts__images img {
    width: 200px;
    height: 250px;
  }
}
@media screen and (min-width: 992px) {
  .contacts__dropdown {
    padding-top: 4rem;
  }
  .contacts__images {
    padding-top: 0rem;
  }
  .contacts__images img {
    width: 400px;
    height: 496px;
  }
}
.arrow {
  position: relative;
  position: absolute;
  right: 40px;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.arrow::before, .arrow::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 1px;
  top: 50%;
}
.arrow::before {
  left: 44%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.arrow::after {
  right: 44%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.dropdown {
  text-align: start;
  position: relative;
  padding: 0.3125rem 1.25rem 0.3125rem 1.25rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #D6E7D2;
  color: #717171;
}
.dropdown .arrow {
  background-color: #AEA1A1;
}
.dropdown .arrow::before, .dropdown .arrow::after {
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .selectores {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 992px) {
  .dropdown {
    padding: 0.3125rem 2.1875rem 0.3125rem 1.25rem;
  }
}
.footer__github, .footer__school {
  padding-bottom: 1rem;
}
.footer__networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__link:not(:last-child) {
  padding-right: 1.25rem;
}/*# sourceMappingURL=styles.css.map */