html.noscroll {
	overflow: hidden;
}
html.noscroll-popup {
	overflow: hidden;
}
@media screen and (min-width: 768px) {
	html.noscroll {
		overflow: auto;
	}
}

html,
body {
	font-size: var(--base-font-size);
	line-height: var(--baseline);
	height: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	background-color: var(--color-bg-white);
}

// Прижимаю footer к низу
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
	min-height: 100px;
}
