// Классы состояний
.is-fixed{
   position: fixed;
   left: 0;
   width: 100%;
}

.is-block {
   display: block;
}

.is-relative{
    position: relative;
}

.is-uppercase {
   text-transform: uppercase;
}

.is-justify-center {
   justify-content: center;
}
.is-text-center {
   text-align: center;
}



// Color text
.is-text-orange {
    color: var(--orange);
}
.is-text-green {
    color: var(--green);
}
.is-text-grey {
    color: var(--grey);
}
.is-text-dark-grey {
    color: var(--dark-grey);
}
