.about {
    .title {
        text-align: center;
    }
    .text {
        padding-top: rem(20px);
        line-height: 1.666;
    }
    &__images {
        display: flex;
        justify-content: center;
        padding-top: rem(5px);
        img {
            width: 150px;
            height: 147px;
        }
    }
}
@media screen and (min-width:380px) {
    .about {
        .text {
            line-height: 1.5;
        }
        &__images {
            padding-top: rem(40px);
            img {
                width: 250px;
                height: 258px;
            }
        }
    }
}

@media screen and (min-width:768px) {
    .about{
        .title {
            text-align: left;
        }
        .text {
            padding-top: rem(40px);
        }
        &__images {
            padding-top: 0px;
            justify-content: right;
            img {
                width: 464px;
                height: 479px;
            }
        }
    }
}

@media screen and (min-width:992px) {
    .about{
        .title {
            padding-top: rem(66px);
        }
    }
}