.arrow {
    position: relative;
    right: 40px;
    top: 17px;
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    position: absolute;
    &::before, &::after {
        content: "";
        position: absolute;
        width: 6px;
        height: 1px;
        top: 50%;
    }
    &::before  {
        left: 44%;
        transform: translate(-50%,-50%);
        transform: rotate(-45deg);
    }
    &::after {
        right: 44%;
        transform: translate(-50%,-50%);
        transform: rotate(45deg);
        
    } 
}