.burger {
	position: fixed;
	display: block;
	top: rem(20px);
	right: rem(0px);
	width: rem(70px);
	padding: rem(10px) rem(10px) rem(10px) rem(10px);
	transition: transform 0.6s;
	z-index: 10;
	&__line {
		display: block;
		background-color: var(--grey);
		width: rem(40px);
		height: 2px;
		&:not(:first-child) {
			margin-top: rem(8px);
		}
	}
}

.burger-active {
	transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
	.burger {
		display: none;
	}
}
