.burger {
    display: block;
    width: rem(70px);
    padding: rem(10px) rem(10px) rem(10px) rem(10px);
    margin-right: rem(5px);
    &__line {
        display: block;
        background-color: var(--grey) ;
        width: rem(40px);
        height: 2px;
        &:not(:first-child){
            margin-top: rem(8px);
        }
    }
 }
 
 @media screen and (min-width: 768px){
    .burger { 
       display: none;
    }
 }

