.button {
    background: transparent;
    border: 1px solid  var(--orange);
    border-radius: 5px;
    color: var(--yellow);
    font-size: rem(15px);
    &_primary {
        border: 2px solid var(--orange);
        border-radius: 10px;
        color: var(--black);
        font-size: 10px;
    }
    &_bold {
        font-weight: 700;
    }
}

@media screen and (min-width: 768px) {
    .button {
        font-size: rem(20px);
        &_primary {
            font-size: rem(16px);
        }
    }
}
