.button {
    background: transparent;
    border: 1px solid  var(--orange);
    border-radius: 5px;
    color: var(--yellow);

    // 1 section 
    // padding: 14px 27px;
    // border: 2px solid #E06733;
    // border-radius: 10px;

    // 3секция
    // padding: 12px 54px;
    
    // 4 section
    // padding: 12px 30px;
}
// border: 1px solid #E06733;
// border-radius: 5px;
// border: 1px solid #E06733;
// border-radius: 5px;