.contacts {
    &__dropdown {
        padding-top: rem(80px);
    }
    .text {
        line-height: 2;
    }
    &__images {
        padding-top: rem(132px);
        img {
            margin: -4px;
            width: 100px;
            height: 124px;
        }
    }
}

@media screen and (max-width: 991px)  {
    .contacts {
        &__images {
            order: 3;
        }
        &__title {
            order: 1;
        }
        &__dropdown {
            order: 2;
        }
        &__images , &__dropdown,  &__title  {
            text-align: center;
        }
    }
}

@media screen and (min-width: 768px) {
    .contacts {
        &__dropdown {
            padding-top: rem(100px);
        }
        &__images {
            padding-top: rem(250px);
            img {
                width: 200px;
                height: 250px;
            }
        }
    }
}
@media screen and (min-width: 992px) {
    .contacts {
        &__dropdown {
            padding-top: rem(64px);
        }
        &__images {
            padding-top: rem(0px);
            img {
                width: 400px;
                height: 496px;
            }
        }
    }
}