.dropdown {
	text-align: start;
	position: relative;
	padding: rem(5px) rem(20px) rem(5px) rem(20px);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: var(--green-light);
	color: var(--grey);
	&_mg-t {
		margin-top: rem(80px);
	}
	.arrow {
		background-color: #aea1a1;
		&::before,
		&::after {
			background-color: var(--white);
		}
	}
}

@media screen and (min-width: 768px) {
	.dropdown {
		font-size: rem(20px);
		&_mg-t {
			margin-top: rem(100px);
		}
	}
}

@media screen and (min-width: 992px) {
	.dropdown {
		padding: rem(5px) rem(35px) rem(5px) rem(20px);
		&_mg-t {
			margin-top: rem(64px);
		}
	}
}
