.gallery {
    width: 100%;
    overflow: hidden;
    border: 1px solid #E3E1D5;
    border-radius: 25px 25px 20px 20px;
    text-align: center;
    &__content {
        padding: 0px rem(40px) rem(18px) rem(40px);
    }
    .text {
        width: 100%;
        padding-top: rem(10px);
        overflow: hidden; // скрываем излишки контента 
        text-overflow: ellipsis; // добовляем троеточие к концу 
        display: -webkit-box;  // Учитываем кроссбраузерность
        -webkit-line-clamp: 2; // Указываем кол-во строк
        -webkit-box-orient: vertical; // Устанавливаем вертикальную ориентацию элемента
    }
}

@media screen and (min-width: 428px)  {
    .gallery {
        width: 80%;
    }
}

@media screen and (min-width: 768px)  {
    .gallery {
        width: 100%;
        height: auto;
    }
}
@media screen and (min-width: 992px)  {
    .gallery {
        &__content {
            padding: 0px rem(30px) rem(30px) rem(30px);
        }
    }
}