.header {
    background-color: var(--dark-white);
    &__container{
        display: flex;
        align-items: center;
        height: rem(96px);
    }
    &__logo{
        flex: 1 0 auto;
        .logo {
            cursor: default;
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        &__conationer{
            height: rem(117px);
            
        }
    }
}

@media screen and (min-width: 992px) {
    .header {
        &__conationer{
            height: rem(134px);
        }
    }
}