.section { 
    &_welcome , &_service {
        background-color: var(--section-bg);
    }
    &_welcome {
        padding-top: rem(24px);
        padding-bottom: rem(24px);
    }
    &_about {
        padding-top: rem(30px);
        padding-bottom: rem(30px);
    }
    &_service {
        padding-top: rem(30px);
        padding-bottom: rem(30px);
    }
}

@media screen and (min-width: 768px) {
    .section { 
        &_welcome {
            padding-top: rem(40px);
            padding-bottom: rem(70px);
        }
        &_about {
            padding-top: rem(40px);
            padding-bottom: rem(95px);
        }
        &_service {
            padding-top: rem(60px);
            padding-bottom: rem(70px);
        }
    }
}

@media screen and (min-width: 992px){
    .section { 
        &_welcome {
            padding-top: rem(62px);
        }
        &_about {
            padding-top: rem(95px);
        }
        &_service {
            padding-top: rem(40px);
            padding-bottom: rem(120px);
        }
    }
}