.section { 
    &_welcome , &_service, &_contacts {
        background-color: var(--section-bg);
    }
    &_welcome {
        padding-top: rem(24px);
        padding-bottom: rem(24px);
    }
    &_about {
        padding-top: rem(30px);
        padding-bottom: rem(30px);
    }
    &_service {
        padding-top: rem(30px);
        padding-bottom: rem(30px);
    }
    &_prices {
        padding-top: rem(25px);
        padding-bottom: rem(40px);
    }
    &_contacts {
        padding-top: rem(25px);
        padding-bottom: rem(0px);    
    }
    &_footer {
        padding-top: rem(22px);
        padding-bottom: rem(8px);        
    }
}

@media screen and (min-width: 768px) {
    .section { 
        &_welcome {
            padding-top: rem(40px);
            padding-bottom: rem(70px);
        }
        &_about {
            padding-top: rem(40px);
            padding-bottom: rem(95px);
        }
        &_service {
            padding-top: rem(60px);
            padding-bottom: rem(70px);
        }
        &_prices {
            padding-top: rem(40px);
            padding-bottom: rem(90px);
        }
        &_contacts {
            padding-top: rem(40px);
            padding-bottom: rem(0px);    
        }
        &_footer {
            padding-top: rem(30px);
            padding-bottom: rem(20px);        
        }
    }
}

@media screen and (min-width: 992px){
    .section { 
        &_welcome {
            padding-top: rem(62px);
        }
        &_about {
            padding-top: rem(95px);
        }
        &_service {
            padding-top: rem(40px);
            padding-bottom: rem(120px);
        }
        &_prices {
            padding-bottom: rem(115px);
        }
        &_contacts {
            padding-top: rem(60px);
            padding-bottom: rem(0px);    
        }
        &_footer {
            padding-top: rem(40px);
            padding-bottom: rem(40px);        
        }
    }
}