.selector {
	position: relative;
	max-width: rem(250px);
	max-height: rem(55px);
	background-color: var(--dark-white);
	padding: rem(16px) rem(110px) rem(16px) rem(40px);
	border-radius: rem(20px);
	font-weight: 700;
	transition: transform 0.8s linear;
	&_mg-b {
		margin-bottom: rem(42px);
	}

	&__arrow {
		position: absolute;
		top: 50%;
		right: rem(15px);
		transform: translateY(-50%);
		color: var(--black);
		svg {
			rotate: 0deg;
			transition: rotate 0.4s linear;
		}
	}
}
.selector-active {
	.selector__arrow {
		svg {
			rotate: -180deg;
		}
	}
}
@media screen and (min-width: 768px) {
	.selector {
		font-size: rem(20px);
	}
	.selector-active {
		.selector__arrow {
			svg {
				rotate: -90deg;
			}
		}
	}
}
