.service {
    &_box {
        padding-top: rem(35px);
    }
    .button {
        margin-right: rem(10px);
        margin-top: rem(10px);
        padding: rem(8px) rem(28px);
    }
    &__gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-auto-rows: auto;
        grid-row-gap: 34px;
        grid-column-gap: 100px;
        justify-items: center;
        padding-top: rem(40px);
        .wrapper-img {
            aspect-ratio: 5/5;
            img {
                object-fit: cover;
            }
        }
    }
}

@media screen and (min-width: 768px) { 
    .service {
        &_box {
            padding-top: rem(40px);
        }
        .button {
            margin-right: rem(38px);
            padding: rem(12px) rem(40px);
        }
        &__gallery {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, auto);
            grid-row-gap: 38px;
        }
    }
}


@media screen and (min-width: 992px) {
    .service {
        &_box {
            padding-top: 0px;
        }
        .button {
            margin-top: 0px;
        }
        &__gallery {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(2, auto);
            grid-row-gap: 55px;
            padding-top: rem(90px);
            .wrapper-img {
                aspect-ratio: 16/17;
            }
        }
    }
}