.text{
    &_medium-xs {
        font-size:  rem(20px); 
    }
    &_bold {
        font-weight: 700;
    }
}

@media screen and (min-width: 768px) {
    .text{
        &_medium-md {
            font-size:  rem(20px); 
        }
    }
}

@media screen and (min-width: 992px) {
    .text{
        font-size: rem(20px);
        &_smaill {
            font-size:  rem(16px); 
        }
    }
}