.title {
    font-size: rem(25px);
    font-weight: 700;
    &_regular {
        font-weight: 400;
        font-family: "Inika", sans-serif;
    }
    &__smaill { // prices 
        font-size: rem(20px);
    }
}

@media screen and (min-width: 768px) {
    .title {
        font-size: rem(35px);
        &_medium { // Contact
            font-size: rem(40px);
        }
        &__smaill { // prices
            font-size: rem(25px);
        }
    }
}

@media screen and (min-width: 992px) {
    .title {
        font-size: rem(40px);
        &_big { // welcome
            font-size: rem(45px);
        }
    }
}