.welcome {
    &__content {
        padding-top: rem(38px);
    }
    .text {
        padding-top: rem(20px);
    }
    .button {
        margin-top: rem(48px);
        padding: rem(14px) rem(27px) ;
    }
}

@media screen and (max-width: 768px) {
    .welcome {
        &__images {
            display: none;
        }
        .text {
            padding-top: rem(30px);
        }
        .button {
            margin-top: rem(30px);
        }
    }
}

@media screen and (max-width: 992px) {
    .welcome {
        &__content {
            padding-top: 0px;
        }
        .text {
            padding-top: rem(40px);
        }
        .button {
            margin-top: rem(48px);
        }
    }
}