$grid__bp-xs: 428;
$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200; // 1160   (-20 scroll)  (-20 gutter)
$grid__bp-xxl: 1440; // 1400   (-20 scroll)  (-20 gutter)
$grid__bp-3xl: 1680; // 1640   (-20 scroll)  (-20 gutter)
$grid__cols: 12;
$gutter: 20;

// $container-width-xl: 1260;
$container-width-xxl: 1260; // 1220       (+20 scroll)  (+20 отступы)
// $container-width-3xl: 1440;


$map-grid-props: (
    '': 0,
    '-xs': $grid__bp-xs,
    '-sm': $grid__bp-sm,
    '-md': $grid__bp-md,
    '-lg': $grid__bp-lg,
    '-xl': $grid__bp-xl,
    '-xxl': $grid__bp-xxl,
    '-3xl': $grid__bp-xxl
);

